[submodule "data/glest_game"]
	path = data/glest_game
	url = https://github.com/MegaGlest/megaglest-data.git
[submodule "source/masterserver"]
	path = source/masterserver
	url = https://github.com/MegaGlest/megaglest-masterserver.git
[submodule "mk/linux/tools-for-standalone-client/installer/mojosetup"]
	path = mk/linux/tools-for-standalone-client/installer/mojosetup
	url = https://github.com/MegaGlest-Community/mojosetup-fork.git
