[Desktop Entry]
Categories=Game;StrategyGame;
Comment=A real time strategy game.
Name=MegaGlest
Icon=megaglest
Exec=megaglest
Terminal=false
Type=Application
