Desktop Entry]
Encoding=UTF-8
Categories=Application;Game;
Comment=A real time strategy game.
Name=MegaGlest
Icon=megaglest.png
Exec=/megaglest
Terminal=false
Type=Application
