[Desktop Entry]
Categories=Game;StrategyGame;
Comment=G3d Model Viewer
Name=MegaGlest Model Viewer
Icon=megaglest
Exec=megaglest_g3dviewer
Terminal=false
Type=Application

