/Release/
/*/Release/
/x64/
/*/x64/

# Windows_build
*.dll
*.exe
*.pdb
*.exp
*.lib
*.map
*.dmp
*.dat
*.ipdb
*.iobj
/lua/
#

/ipch

/game_util.cpp
/glestkeys.ini
/servers.ini
# Files generated during build
/xml_test_malformed.xml
/*/xml_test_malformed.xml

# Coverity
/cov-analysis*/
/cov-int
