[Desktop Entry]
Type=Application
Name=MegaGlest
Exec=megaglest
Icon=megaglest
Categories=Game;StrategyGame;
Comment=pre-Renaissance Europe strategy game
X-SuSE-translate=false
