---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach  # Braces on the same line
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 160  # Set the maximum line length to 160 characters
SpaceBeforeParens: ControlStatements  # No space before function calls, but space before control statements
PointerAlignment: Right  # Keep the * close to the variable name
AlwaysBreakTemplateDeclarations: No
BinPackParameters: true
BinPackArguments: true
ReflowComments: false  # Preserve manual comment formatting
SortIncludes: false
AlignConsecutiveAssignments: false  # Do not align assignment operators
AlignConsecutiveDeclarations: false  # Do not align variable declarations
